<div class="container">
  <div class="row">
    <h3>Here are some body parts we can target!</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @targets.each do |target| %>
          <% @exercises.each do |e| %>
            <tr>

              Body Part: <% target %> 
				<%= e.description  %>
				<%= button_to "Start!", start_path(id: e), :class => "button medium", :method => "get" %>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>