<html>
	<head>
		<title>My Gym Buddy</title>
	</head>
	<body>
		<h3>Welcome to My Gym Buddy!</h3>
		<p><%= link_to 'Users:', user_session_path %> <%= User.count %> registered</p>
		<div>
			<%= render 'targets/show' %>

		</div>

	</body>
</html>

