<html>
	<head>
		<title>My Gym Buddy</title>
	</head>
	<body>
		<h3>Welcome to My Gym Buddy!</h3>
		<p><%= link_to 'Users:', user_session_path %> <%= User.count %> registered</p>

		<p> <%= link_to 'Create New Exercises', exercises_new_path %> </p>
		<p> <%= link_to 'Click here', targets_index_path %> to choose exercises for specific body parts.</p> 
		




	</body>
</html>

