<% @exercise.each do |exercise| %>
  Title: <%= exercise.title %> <br>
  Description: <%= exercise.description %> <br>
  Duration: <%= exercise.duration %> <br>
  <br>
<% end %>

<a href="new">Create New Exercise</a>
