
<% @exercise.each do |exercise| %>
    <div> 
    Title: <%= exercise.title %> <br>
  	Description: <%= exercise.description %> <br>
  	Duration: <%= exercise.duration %> <br>
  <br></div>
<% end %>

<a href="new">Create New Exercise</a>